dist*
static/tmp/
static/elm/*.html
static/combined/
config/client_session_key.aes
*.hi
*.o
*.sqlite3
.hsenv*
cabal-dev/
yesod-devel/
.cabal-sandbox
cabal.sandbox.config
.DS_Store
*.swp

elm/elm_dependencies/*
elm/cache

.ruby-version
.ruby-gemset
